@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body.routes {

    overflow-x: hidden;
    background: linear-gradient(to left, rgb(107, 80, 75), rgb(83, 66, 42));
    margin: 0;

}

.terug-knop {
    width: 1.5em;
    height: auto;
    margin: 0em 2.5em 0em 1em;
    color: rgb(216, 216, 216);
}

.logo {

    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    width: 75px;
    height: auto;
    margin: 1.5em 7em 0 150px;
}

.logo-index {
    stroke: rgb(241, 234, 226);
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    width: 250px;
    height: auto;
    font-family: 'Poppins';
    font-size: 14.95px;
    font-weight: 200;
    padding-left: 7em;
    padding-top: 1em;
}

p {
    color: rgb(241, 234, 226);
    font-family: 'Poppins';
    padding-left: 0.5em;
    margin: 0 0.5em 0 0.5em;

}



h1 {
    color: rgb(241, 234, 226);
    padding-left: 0.5em;
    font-family: 'Poppins';

}

.titel-maps {
    color: rgb(241, 234, 226);
    font-family: 'Poppins';
    position: sticky;
    margin: 0;


}

h2 {
    color: rgb(241, 234, 226);
    font-family: 'Poppins';
    padding-left: 0.5em;

}

.start-knop {
    border: none;
    font-family: 'Poppins';
    color: rgb(241, 234, 226);
    padding: 8px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(241, 234, 226);
    color: rgb(0, 0, 0);
    margin: 01em 0em 0em 8em;
}

button a {
    color: black;
}

/* begin tweede pagina */
.bar {
    background-color: rgb(248, 245, 241);
    width: 333px;
    height: 65px ;
    margin: 8px 12.5px;
    display: flex;
    border-radius: 25px;
    box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.47);

}

.bar .search {
    padding: 16px 5px 0 10px;
    margin: 0px 0px 0px;
}

.search input {
    font-size: 18px;
    resize: none;
    font-family: 'Poppins';
    border-radius: 20px;
    padding: 0 0 0 20px;
    width: 150px;
}


.search-ico {
    fill: none;
    stroke: #1d1d1b;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    height: 30px;
    margin: 16px 35px 0 0;
    padding: 0;
}

.dropdown {
    position: relative;
}

.drop-button {
    font-family: 'Poppins';
    background-color: rgb(248, 245, 241);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 150px;
    padding: 0 10px;
    z-index: 2;
    border-radius: 10px;
    justify-content: end;
    right: 0;
    filter: drop-shadow(2px 5px 8px rgb(13, 5, 59));
}

.dropdown:hover .dropdown-content {
    display: block;
}

.filter-ico {
    fill: none;
    stroke: #1d1d1b;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    height: 30px;
    margin: 16px 0 -8px 0;
}


.maps-img-size {
    width: 250px;
    box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.3);

}

.maps-image {
    padding: 1em 0 0 2.6em;
}

h3 {
    padding-left: 0.5em;
    font-family: 'Poppins';

}

h4 {
    color: rgb(241, 234, 226);
    font-size: 1.2em;
    font-family: 'Poppins';
    padding: 0 1em 0 1em;
}

.location-list-li {
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(248, 245, 241);
    padding-left: 0em;
    max-width: 375px;
    margin-top: 1em;
    margin-bottom: 3.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Poppins';
    padding-bottom: 2em;
    padding-top: 0.1em;
    box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.47);

}

li.List-stops {
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    margin-left: 2em;
    list-style-type: circle;
    font-family: 'Poppins';

}

ul {
    padding-inline-start: 0;
    text-decoration: none;
    text-decoration-line: none;

}

a {
    text-decoration: none;
    color: #000;
}


.location-noord {
    color: #000;
}

nav {
    background: rgb(241, 234, 226);
    text-align: center;
    padding: 0;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;



}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li a {
    margin: 0;
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin-top: 0.2em;
    background-color: rgb(241, 234, 226);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

nav li.active a {
    display: flex;
    justify-content: space-around;
    transform: translateY(-10px);
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.nav-img {
    height: 24px;
    width: auto;

}

nav a {
    display: block;
}

.nav-ico {
    fill-rule: evenodd;
    stroke: rgb(255, 255, 255);
    fill: none;
    stroke-miterlimit: 10;
    width: 40px;
    stroke-width: 2px;
}

li.active .nav-ico {
    fill-rule: evenodd;
    stroke: white;
    fill: white;
    stroke-miterlimit: 10;
    width: 40px;
    border: #000 2px;
}

.space {
    height: 80px;
}

/* routes */

.frame {
    border: none;
    width: 365px;
    height: 450px;
    padding-top: 5.5em;
}

.info-p {
    color: #000;
}

span {
    font-family: 'Poppins';
}

.container-noord {
    display: flex;
    align-items: center;
    position: fixed;
    background: linear-gradient(to left, rgb(107, 80, 75), rgb(83, 66, 42));
    padding-right: 4.15em;
}

.container-oost {
    display: flex;
    align-items: center;
    position: fixed;
    background: linear-gradient(to left, rgb(107, 80, 75), rgb(83, 66, 42));
    padding-right: 5.62em;
}

.container-zuid {
    display: flex;
    align-items: center;
    position: fixed;
    background: linear-gradient(to left, rgb(107, 80, 75), rgb(83, 66, 42));
    padding-right: 5.9em;
}

.container-west {
    display: flex;
    align-items: center;
    position: fixed;
    background: linear-gradient(to left, rgb(107, 80, 75), rgb(83, 66, 42));
    padding-right: 5.15em;
}